NODE_ENV=
PORT=
CLIENT_URL=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_PRICE_SOLO=
STRIPE_PRICE_FAMILY=
STRIPE_PRICE_FAMILY_PLUS=

JWT_SECRET=
